.header {
  font-family: Roboto , sans-serif;
}

.header h2 {
  margin: 0;
}

.header ul {
  margin: 0;
}

.header {
  align-items: center;
  background-color: #151515;
  display: flex;
  justify-content: space-between;
  min-height: 81px;
  padding: 0 60px;
  text-transform: uppercase;
  width: 100%;
}

.header a {
  display: flex;
  gap: 4px;
  text-decoration: none;
}

.header h2 {
  color: #d0d0d0;
  font-size: 40px;
  font-weight: 400;
}

.header a h2:first-child {
  color: #f20530;
  font-weight: 700;
}

.header nav {
  align-items: center;
  display: flex;
}

.header .mid-nav ul, .header .end-nav ul {
  align-items: center;
  color: #d0d0d0;
  display: flex;
  font-size: 14px;
  font-weight: 500;
  gap: 39px;
  list-style: none;
  padding: 4px;
}

.header .end-nav ul {
  gap: 17px;
}

.header button {
  background-color: #151515;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 15px;
  padding: 7px 15px;
}
