.highlight {
  background-color: #000;
  font-family: Roboto , sans-serif;
  padding: 86px;
}

.highlight h3 {
  color: #fff;
  font-weight: 400;
  padding: 30px 0;
  text-transform: uppercase;
}

.cards-section {
  display: flex;
  gap: 90px;
  justify-content: space-between;
}
