.payment-page {
  background-color: #151515;
  color: white;
  display: flex;
  font-family: Roboto , sans-serif;
  justify-content: space-between;
}

.payment-info-car {
  background-color: #262626;
  border-radius: 20px;
  display: flex;
  margin-bottom: 40px;
  margin-left: 40px;
  width: 85%;
}

.payment-page aside {
  background-color: #262626;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 20px;
  width: 20%;
}

.imgVeiculo {
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  width: 65%;
}

.payment-page aside h2 {
  display: flex;
  justify-content: center;
}

.h2-name {
  color: red;
}

.btns-payment {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.btnPayment {
  align-items: center;
  background-color: #4a4a4a;
  border: 1px solid white;
  border-radius: 10px;
  color: white;
  display: flex;
  font-size: 24px;
  font-weight: 700;
  justify-content: space-between;
  padding: 5px 35px;
  width: 100%;
}

.imgPayment {
  width: 50px;
}

.caractVeiculo {
  margin: 30px;
}

.confirmBtn {
  align-items: center;
  background-color: #4a4a4a;
  border: 1px solid white;
  border-radius: 10px;
  color: white;
  font-size: 17px;
  font-weight: 700;
  justify-content: center;
  padding: 5px;
  width: 100%;
}
